/*
	CUSTOM STYLE SHEET
*/

:root {
  --navbar-bg: #343434;
  --sidebar-bg: #FFF;
  --body-bg: #f3f5f6;
  --sidebar-width: 280px;
}

body {
	
	background-color: var(--body-bg);
}

/*COLORS*/

.dark-bg { background: var(--navbar-bg) !important; }
.light-bg { background: var(--sidebar-bg) !important; }
/* NAVBAR */
.main-menu-container {
	  z-index: 3;
    position: relative;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  height: 100%;
  padding: 10px;
  width: auto;
}
.nav.navbar-nav li p {
	font-weight: bold;
}

.nav.navbar-nav li:active,
.nav.navbar-nav li.active, 
.nav.navbar-nav li:focus {
	background: transparent; !important;
	color: #FFF !important;
}

.nav.navbar-nav li.active a,
.nav.navbar-nav li:active a,
.nav.navbar-nav li.active a, 
.nav.navbar-nav li:focus,
.nav.navbar-nav li.active a.navbar-icon-item.only img {
	background: rgba(0,0,0,.2) !important;
	color: #FFF !important;
}

.nav.navbar-nav li:hover a,
.nav.navbar-nav li.active:hover a {
	color: rgba(255, 255, 255, 0.5);
	background: rgba(255, 255, 255, .1);
}

.nav.navbar-nav .navbar-icon-item { padding: 0 10px; }
.nav.navbar-nav .navbar-icon-item.only { padding: 0 0 0 10px; }
.nav.navbar-nav .navbar-icon-item p {
	margin: 0;
	line-height: 50px;
}
.main-menu-container .navbar {
	margin-bottom: 0;
}
.navbar { background: var(--navbar-bg); border: 0; border-radius: 0;}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle:not(.collapsed) .icon-bar {
	background-color: #FFF;
}

.navbar-toggle.collapsed:not(.no-transform) .top-bar {
  transform: rotate(0);
}

.navbar-toggle.collapsed:not(.no-transform) .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed:not(.no-transform) .bottom-bar {
  transform: rotate(0);
}

.navbar-left {
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}

.navbar-right {
  float: right;
  margin-left: 10px;
  margin-right: 0px;
}

.navbar .profile-img {
	padding: 5px 10px;
	color: white;
}
.navbar .profile-img span {
	line-height: 20px;
	font-size: 16px;
	width: 100%;
  display: block;
  padding-left: 5px;
}
.navbar .profile-img .org_name {
	color: #b2b2b2;
	line-height: 14px;
	font-size: 11px;
}

.navbar .profile-img > div {
	display: inline-block;
	vertical-align: middle;
	position: relative;
}


@media ( min-width: 768px ) {
	.navbar {
		display: block;
	}
}

/*SIDEBAR*/

.sidebar .list-group-item.active, 
.sidebar .list-group-item.active:hover, 
.sidebar .list-group-item.active:focus {
	background-color: transparent;
	background: rgb(76,164,222); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76,164,222,1) 1%, rgba(43,123,195,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(76,164,222,1) 1%,rgba(43,123,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(76,164,222,1) 1%,rgba(43,123,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.sidebar .list-group-item { padding: 5px 10px; border-radius: 0; }
.sidebar a  {
	text-decoration: none;
}
.sidebar a p  {
	margin: 0;
	font-weight: bold;
	color: var(--navbar-bg);
}
.sidebar .list-group-item.active p {
	color: #FFF;
}
.sidebar a p > small {
	font-weight: normal;
	margin: 0;
}

.sidebar {
	position: fixed;
	
	height: 100vh !important;
	width: var(--sidebar-width);
	background: var(--sidebar-bg);
	left: 0;

	z-index: 2;

	-webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);

	-webkit-transition: transform .4s;
	-moz-transition: transform .4s;
	-ms-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;
}

@media (max-width: 767px) {
	#sidebar.collapse.in > div {
		transform: translateX(0);
	}	
	.in .overlay {
		width: 100vw;
	  height: 100vh;
	  background: rgba(0,0,0,.4);
	}
}

.overlay {
  position: fixed;
  z-index: 3; top: 0; left: 0;
  background-color: rgba(0,0,0, 0);

  transition: .2s background-color;
}

.sidebar, .page { display: inline-block; }

.page {
	margin-left: var(--sidebar-width);
	width: calc(100% - var(--sidebar-width));

	-webkit-transition: margin-left .4s;
	-moz-transition: margin-left .4s;
	-ms-transition: margin-left .4s;
	-o-transition: margin-left .4s;
	transition: margin-left .4s;
}

@media ( min-width: 768px ) {
	.sidebar-toggle.collapse {
		display: block;
	}
}

@media (max-width: 767px) {
	.sidebar {
		left: auto;
		top: 0;
		z-index: 4;
		transform: translateX(-100%);
	}
	.page {
		width: 100%;
		margin-left: 0px;
	}
	ul.nav {
		margin: 0 -20px;
		
		-webkit-box-shadow: 0;
		-moz-box-shadow: 0;
		box-shadow: 0;

		border: 0;
	}

	 ul.nav.collapsed-on-mobile {
		height: 0;
		overflow: hidden;	
	}
}


/*TABLE*/
table.no-border tr > th,
table.no-border tr > td {
	border-top: 0;
}

table td,
table th {
	padding: 3px;
}
table th {
	width: 100px;
}
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

table {
	font-size: 12px;
}

.no-margin {
	margin: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* LOADING */

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

