<span class="overlay" data-target=".sidebar-toggle"></span>
<div class="sidebar">
	<div class="col-xs-18 nopadding dark-bg visible-xs">
		<a class="navbar-brand" href="#">
      <img src="assets/img/logo_header.png" alt="" />
    </a>

		<button type="button" class="navbar-toggle no-transform collapsed navbar-right" data-target=".sidebar-toggle">
      <span class="light-bg top-bar icon-bar"></span>
      <span class="light-bg middle-bar icon-bar"></span>
      <span class="light-bg bottom-bar icon-bar"></span>
    </button>
	</div>
	<div class="col-xs-18 nopadding">
		<ul class="user-list list-group"></ul>
	</div>
</div>