<div class="col-xs-18 col-lg-16">
	<div class="row">
		<div class="col-xs-18 col-sm-9"><h2><%= name %></h2></div>
		<div class="col-sm-9 hidden-xs">
			<h2>
				<small class="text-right">Deals</small>
			</h2>
		</div>		
	</div>

  <div class="panel panel-default col-xs-18">
    <div class="panel-body ">
    	<div class="row">
	    	<div class="col-sm-9 col-xs-18">
	    		<table class="no-margin table no-border">
				    <tbody>
			        <tr>
		          	<th>Phone</th>
		            <td><%= phone[0].value %></td>
			        </tr>
			        <tr>
			          <th>Email</th>
			          <td><%= email[0].value %></td>
			        </tr>
			        <tr>
			          <th>Added</th>
			          <td><%= add_time %></td>
			        </tr>
				      <tr>
			          <th>Open deals</th>
			          <td> <%= open_deals_count %> </td>
			        </tr>
			        <tr>
			          <th>Next activity</th>
			          <td class="next_activity_field"> - </td>
			        </tr>
			        <tr>
			          <th>Last activity</th>
			          <td class="last_activity_field"> - </td>
			        </tr>
				    </tbody>
					</table>
	    	</div>
	    	<div class="col-sm-9 col-xs-18">
	    		<div class="row">
		    		<div class="visible-xs col-xs-9">
							<h2>
								<small class="text-right">Deals</small>
							</h2>
						</div>	    			
	    		</div>

	    		<table class="no-margin table table-striped table-bordered table-curved">
			    	<thead>
				      <tr>
				        <th>Title</th>
				        <th>Sum</th>
				      </tr>
				    </thead>
		    		<tbody class="deals-panel">
		    			<tr>
		    				<td>
								    <span class="glyphicon glyphicon-refresh spinning"></span>   
								</td>
		    				<td>
		    					<span class="glyphicon glyphicon-refresh spinning"></span>
		    				</td>
		    			</tr>
		    		</tbody>
		    	</table>
	    	</div>
    	</div>
    </div>
  </div>
</div>

